
.icon-facebook-circled:before { content: '\f051'; } /* '' */
.icon-twitter-circled:before { content: '\f057'; } /* '' */
.icon-gplus-circled:before { content: '\f059'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-pinterest-circled:before { content: '\f313'; } /* '' */